body
{
  font-family: sans-serif;
}

h1
{
  color: blue;
}

#contact
{
  font-weight: bold;
}

#picture
{
  width: 45%;
}

h2
{
  margin-top: 4%;
  text-align: center;
  background-color:  	#D8D8D8 ;
  font-variant: small-caps;
  letter-spacing: 4px;
}
h2
{
  color: Purple;
}
#now
{
  font-size: 0.875em;
  color: green;
}
<-- x-small-->
